.firstSection {
  display: flex;
}
.sectionText {
  padding: 10px;
  flex: 1 1 30%;
  max-width: 300px;
}

.sectionImageWrapper {
  flex: 2 1 70%;
  max-height: 500px;
}

.sectionImageWrapper img {
    width: 100%;
    height: 100%;
    display: block;
    
    object-fit: cover;
    
}
