.firstSection {
    display: flex;
    
}
.sectionText {
    padding: 10px;
}

.sectionImageWrapper {
    flex-grow: 2;
    max-height: 500px;
}

.sectionImageWrapper img {
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: contain;
    
}