/* 1. Schmeißt alle unvorhersehbaren Abstände bei ALLEN Elementen raus */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 2. Sorgt dafür, dass die App immer die volle Höhe nutzt und eine cleane Schrift hat */
body {
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 3. Macht Bilder handlicher */
img {
  max-width: 100%;
  display: block;
}

/* 4. Entfernt die hässliche Unterstreichung bei ALLEN Links standardmäßig */
a {
  text-decoration: none;
  color: inherit; /* Verhält sich farblich wie normaler Text */
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.icon {
  width: 30px;
  height: 30px;
}
